<div class="row" *ngIf="productos.length == 0">
  <div class="col-12 bg-danger">
      No hay productos
  </div>
</div>
<div class="row" *ngFor="let item of productos">
  <div class="col-2">
      {{ item.nombre }}
  </div>
  <div class="col-1">
      {{ item.precio }}
  </div>
  <div class="col-2">
      {{ item.categoria }}
  </div>

</div>
<div class="row">
  <div class="col-2">
  <input type="text" #nombreproducto>
  <button (click)="eliminar(nombreproducto.value)" type="button" name="eliminar" id="eliminar" class="btn btn-primary" btn-lg btn-block>Borrar</button>
  </div>
</div>

<div class="warning bg-warning" *ngIf="eliminado!=null">
      Elemento eliminado: {{eliminado.nombre}}, {{eliminado.precio}}, {{eliminado.categoria}}
</div>
<div class="warning bg-warning" *ngIf="encontrado==false">
  Elemento no encontrado
</div>


